.App {
  text-align: center;
}
.spacex{
  color: azure;
  font-family: 'Orbitron', sans-serif;
  text-align: left;
}
.nav{
  display: flex;
  flex-direction: row;
}
.spacediv{
flex: 1;
}
.filter{
  flex: 5;

}
